@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family:'Circular Medium';
  src:url('../public/assets/fonts/Circular/CircularStd-Medium.ttf');
}

@font-face {
  font-family:'Fakt Pro Black';
  src:url('../public/assets/fonts/Fakt-Pro/FaktPro-Semibold.ttf');
}

@font-face {
  font-family:'Fakt Pro Blond';
  src:url('../public/assets/fonts/Fakt-Pro/FaktPro-Blond.ttf');
}
@font-face {
  font-family:'Fakt Pro Normal';
  src:url('../public/assets/fonts/Fakt-Pro/FaktPro-Normal.ttf');
}

@font-face {
  font-family:'GT Super Bold';
  src:url('../public/assets/fonts/gt-super/GT-Super-Display-Bold.ttf');
}

:root {
  /* --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  } */
}

body {
  
}

.timer {
  transition: all 0.2s ease;
}

.home-bg {
  background-image: url('../public/kyrie_universe.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}

.load {
  -webkit-animation: fadein 1s, flickerAnimation 0.8s infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s, flickerAnimation 0.8s infinite; /* Firefox < 16 */
  -ms-animation: fadein 1s, flickerAnimation 0.8s infinite; /* Internet Explorer */
  -o-animation: fadein 1s, flickerAnimation 0.8s infinite; /* Opera < 12.1 */
  animation: fadein 1s, flickerAnimation 0.8s infinite;
}